table.scrolleable {
  /* width: 100%; */ /* Optional */
  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 2px solid black;
}

table.scrolleable tbody,
table.scrolleable thead { display: block; }

thead tr th {
  height: 30px;
  line-height: 30px;
  /* text-align: left; */
}

table.scrolleable tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
  /* width: 20%; */ /* Optional */
  border-right: 1px solid black;
  /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
  border-right: none;
}