.mega-dropdown {
  position: static !important;
  border:none;
}
.mega-dropdown-menu {
  padding: 20px 0px;
  width: 102%;
 background-color: #2C3E50;
 box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  box-shadow:  0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  margin-left:-1%;
  right: 0px;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #d1d1d1;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: white;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
  margin:3px 20px;
}
.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}


